---
recognition:
  active_model: "insightface"
  models:
    insightface:
      enabled: true
      det_size: [640, 640]
      ctx_id: -1
    scrfd_10g:
      enabled: false
      det_size: [640, 640]
      device: "cpu"
